
rust_version/ca.png

rust_version/target/debug/

rust_version/target/release/

rust_version/target/.rustc_info.json

rust_version/target/CACHEDIR.TAG
javascript_version/node_modules/.package-lock.json
