
#map {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 100%;
    flex-flow: column wrap;
    background-color: #9FB0A3;
}

#download {
    /* background-color: red; */
    width: 200px;
    height: 50px;
}

.setting-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: aqua;
}

#settings {
    display: flex;
    flex-flow: row wrap;
    width: 20%;
    min-width: 200px; 
    align-content: start;
    justify-content: space-between;

    background-color: #DD9880;
}

canvas {
    /* background-color: blue; */
    width: 512px;
    height: 512px;
    image-rendering: crisp-edges;
}

body {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: start;
    height: 100vh;
    width: auto;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 18px;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: radial-gradient(#DD9880,#9FB0A3);
}

canvas {
    border: 1px solid #444;
    margin-bottom: 2rem;
} */