* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #269FD4;
}

canvas {
    border: 1px solid #444;
    margin-bottom: 2rem;
}