#map {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-flow: column nowrap;
}

span {
    margin: auto;
}

#download-button-container {
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    align-self: center;
    margin-right: auto;
}

#break {
    width: 2%;
}

#download-button {
    width: 200px;
    height: 50px;
}

.setting-item {
    display: flex;
    background: linear-gradient(#F1476C, #3A2B2A);
    color: white;
}

/* #63C7DD */

#settings-map-container {
    height: fit-content;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    align-items: end;
    margin: 1%;
}

#settings {
    display: flex;
    flex-flow: column nowrap;
}

canvas {
    width: 100%;
    min-width: 512px;
    height: auto;
    image-rendering: crisp-edges;
    border: #3A2B2A;
    border-style: solid;
    border-width: thick;
}

#content {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 1280px;
    background: radial-gradient(#5B76B9, #3A2B2A);
}

body {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #3A2B2A;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 18px;
}