#map {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-flow: column nowrap;
    background-color: #5B76B9;
}

span {
    margin: auto;
}

#download-button-container {
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#download-button {
    width: 200px;
    height: 50px;
}

.setting-item {
    display: flex;
    justify-content: space-evenly;
    width: 95%;
    background-color: #F1476C;
    border-color: #3A2B2A;
    border: solid;
}

#settings {
    display: flex;
    flex-flow: row wrap;
    width: 40%;
    min-width: 300px; 
    align-content: center;
    justify-content: center;
    background-color: #5B76B9;
}

canvas {
    width: 95%;
    height: auto;
    image-rendering: crisp-edges;
    border: #63C7DD;
    border-style: solid;
}

#content {
    display: flex;
    flex-flow: row nowrap;
    width: 1280px;
}

body {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #3A2B2A;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 18px;
}